

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

}
body{
  height:98vh;
  /* background-color: #d6d6d6; */
  background-color: white;
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

  font-family: 'Ubuntu', sans-serif;
  background-position:center center;
}
table {
/*   border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table caption {
    font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
  font-weight:700;
  color:#00000090;
  padding: 15px;
}

table tr {
  background-color: #ffffff90;
  border: 1px solid #ddd;
  padding: 10px;
}
.thead{
  background-color: #7C3AED;

  color:#fff;
}

table th,
table td {
  padding: 2px;
  text-align: center;
}

table th {
  font-size: 19px;
  width: 7.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
 
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  .thead{
  background-color: rgb(67 56 202);
  color:#fff;
}

  table caption {
     font-size: 35px;
  font-weight:700;
  color:#00000090;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


h1 {
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
 }
}
p {
 
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}


.fifth {
  border-color: #7C3AED;
  border-radius: 0;
  color: #7C3AED;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #7C3AED;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}


 h1 {
	 text-align: center;
	 font-family: 'Open Sans', sans-serif;
	 line-height: 0.75;
	 font-size: 3vw;
	 font-weight: 700;
	 text-transform: uppercase;
	 margin: 0.9em auto;
   color: #7C3AED;
}
